head
	meta(charset='UTF-8')
	meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
	meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
	meta(name='msapplication-TileColor' content='#ffffff')
	meta(name='msapplication-TileImage' content=global.cdnUrl + '/assets/images/ms-icon-144x144.png')
	meta(name='theme-color' content='#ffffff')

	//- 網站的影音內容的語言不一定是文字的語言
	meta(http-equiv='Content-Language', charset='zh-Hant')

	//- google 多語言自動導向
	link(rel='alternate', hreflang='zh-Hant', href='https://www.egroup.com.tw/')

	//- 符合IE
	meta(http-equiv='X-UA-Compatible', charset='IE=edge')
	meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE8')
	meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE9')
	meta(http-equiv='X-UA-Compatible', content='IE=EmulateIE7')
	<!--[if lt IE 9]>
	script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
	script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
	<![endif]-->

	//- FB Share
	meta(property='og:title', content='eGroup AI - Using your PC  Create an AI solution | 只要一台PC，擁有刷臉服務')
	meta(property='og:description', content='eGroupAI人臉辨識引擎，在Wintel環境運作，輕量、高彈性，可從本地佈建至雲端，深度學習架構愈訓練愈準確，未來會整合深度學習、機器學習、辨識等技術，推出更多AI服務')
	meta(property='og:image', content=global.cdnUrl + '/assets/images/index_video.jpg')
	meta(property='og:url', content='https://www.egroup.com.tw')
	meta(property='og:type', content='website')
	meta(property='og:email', content='egroup.daniel@gmail.com')

	//- 告訴爬蟲多久回來一次
	meta(name='revisit-after', content='1 days')

	//- 官網敘述
	title eGroup AI - 人臉辨識引擎 Using your PC Create an AI solution
	meta(name='description', content='eGroupAI人臉辨識引擎，在Wintel環境運作，輕量、高彈性，可從本地佈建至雲端，深度學習架構愈訓練愈準確，未來會整合深度學習、機器學習、辨識等技術，推出更多AI服務')

	//- 搜尋引擎登記
	meta(name='google-site-verification', content='ZBdHy64guSoz1WR2OU0Z6OCga-0q8h5lZbedif_R448')
	meta(name='msvalidate.01', content='D05E1782FEF56AA295AD3CA7FA4DFE90')

	//- 各類裝置icon
	link(rel='apple-touch-icon' sizes='57x57' href=global.cdnUrl + '/assets/images/apple-icon-57x57.png')
	link(rel='apple-touch-icon' sizes='60x60' href=global.cdnUrl + '/assets/images/apple-icon-60x60.png')
	link(rel='apple-touch-icon' sizes='72x72' href=global.cdnUrl + '/assets/images/apple-icon-72x72.png')
	link(rel='apple-touch-icon' sizes='76x76' href=global.cdnUrl + '/assets/images/apple-icon-76x76.png')
	link(rel='apple-touch-icon' sizes='114x114' href=global.cdnUrl + '/assets/images/apple-icon-114x114.png')
	link(rel='apple-touch-icon' sizes='120x120' href=global.cdnUrl + '/assets/images/apple-icon-120x120.png')
	link(rel='apple-touch-icon' sizes='144x144' href=global.cdnUrl + '/assets/images/apple-icon-144x144.png')
	link(rel='apple-touch-icon' sizes='152x152' href=global.cdnUrl + '/assets/images/apple-icon-152x152.png')
	link(rel='apple-touch-icon' sizes='180x180' href=global.cdnUrl + '/assets/images/apple-icon-180x180.png')
	link(rel='icon' type='image/png' sizes='192x192' href=global.cdnUrl + '/assets/images/android-icon-192x192.png')
	link(rel='icon' type='image/png' sizes='32x32' href=global.cdnUrl + '/assets/images/favicon-32x32.png')
	link(rel='icon' type='image/png' sizes='96x96' href=global.cdnUrl + '/assets/images/favicon-96x96.png')
	link(rel='icon' type='image/png' sizes='16x16' href=global.cdnUrl + '/assets/images/favicon-16x16.png')
	link(rel='manifest' href=global.cdnUrl + '/assets/images/manifest.json')

	//- Fonts and icons
	link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,200' rel='stylesheet')
	
	//- production
	if global.production
		link(rel="stylesheet" href=global.cdnUrl + "/css/main." + global.main + ".css")